<h3>Neuer Kommentar für <%= "#{@quotable.first_name} #{@quotable.last_name}" %></h3>
<div class="alert alert-info"><b>Hinweis: </b>Dein Name wird neben dem Kommentar, den du abgibst, <em>nicht</em> angezeigt.</div>
<div class="alert alert-warning"><b>Bitte beachte: </b><em>Nutze die Kommentarfunktion nicht für Zitate.</em> Bitte reiche Zitate nur über das <%= link_to "Formular zum Einreichen von Inhalten und Zitaten", new_content_path %> ein.</div>
<%= render partial: 'description' %>
<%= simple_form_for :quote, url: {action: 'create'} do |f| %>
  <%= f.input :text, as: :text, label: "Text" %>
  <%= f.button :submit, "Erstellen" %>
<% end %>
