<h2>Ankündigung bearbeiten</h2>
<%= simple_form_for(@announcement, method: :patch) do |f| %>
<%= f.input :title %>
<%= f.input :text %>
<%= f.input :file, label: "Datei-Link" %>
<%= f.input :present, label: "Auf Dashboard zeigen?", as: :boolean %>
<%= f.button :submit, "Speichern" %>
<% end %>
<%= render partial: 'admin/deletable', locals: {model_name: "Ankündigung", path: @announcement, hide_ruler: false} %>
