<h2>Profil bearbeiten</h2>
<%= simple_form_for(@profile, method: :patch, html: { class: 'form-horizontal' }) do |f| %>
<%= f.input :first_name, label: "Vorname" %>
<%= f.input :last_name, label: "Nachname" %>
<%= f.simple_fields_for :user do |g| %>
  <%= g.association :group, label: "Seminarfach" %>
<% end %>
<hr />
<p>Nachfolgend kannst du dich mit einigen Attributen beschreiben.</p>
<%= f.input :about, label: "Über mich" %>
<%= f.button :submit, "Speichern" %>
<% end %>
