<h1><%= @profile.first_name %> <%= @profile.last_name %></h1>
<p><%= @profile.about %></p>
<p>Seminarfach: <%= link_to @profile.group_title, @profile.group rescue "???" %></p>
<% unless @quotes.empty? %>
<h2>Kommentare</h2>
<%= render partial: 'quotes/student_quote', collection: @quotes, as: :quote %>
<% end %>
<%= link_to "Neuer Kommentar", new_profile_quote_path(@profile), class: "btn btn-success btn-sm" %>
<% if (current_user.profile == @profile || current_user.admin?) %>
<%= render partial: 'notifications/no_group' %>
<hr />
<%= link_to "Profil bearbeiten", edit_profile_path(@profile) %>
<% end %>
