<h3><%= @content.title %> <small>(<%= @content.kind %>)</small></h3>
<p><%= @content.text %></p>
<% if @content.file %>
<%= link_to "Datei herunterladen", @content.file.url %>
<% end %>

<%= render partial: 'admin/editable', locals: {model_name: "Inhalt", path: edit_content_path(@content), hide_ruler: false} %> |
<%= render partial: 'admin/deletable', locals: {model_name: "Inhalt", path: content_path(@content), hide_ruler: true} %>
