<h2>Account bearbeiten</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.input :password, autocomplete: "off", label: "Neues Passwort" %>

  <%= f.input :password_confirmation, autocomplete: "off", label: "Passwort bestätigen" %>

  <%= f.input :current_password, autocomplete: "off", label: "Aktuelles Passwort" %>

  <%= f.button :submit, "Aktualisieren" %>
<% end %>
<hr />
<% if current_user.has_identity? %>
<p>Dein Account ist derzeit mit <em>Facebook</em> verknüpft.</p>
<%= link_to 'Aufheben', remove_association_url,
            confirm: 'Bist du sicher?', method: :delete %>
<% else %>
<%= link_to 'Mit Facebook verknüpfen', user_omniauth_authorize_path(:facebook) %>
<% end %>
