<h2>Abstimmung bearbeiten</h2>
<%= simple_form_for(@voting, method: :patch) do |f| %>
  <%= f.input :title, label: 'Titel der Abstimmung' %>
  <%= f.input :start_time, as: :datetime, label: "Beginn der Abstimmung (wenigstens 30min in der Zukunft)" %>
  <%= f.input :end_time, as: :datetime, label: "Ende der Abstimmung" %>
  <%= f.input :description, as: :text, label: "Beschreibung"  %>
  <%= f.button :submit, "Speichern" %>
  <% end %>
