<h2><%= @voting.title %></h2>
<p><%= @voting.description %></p>
<p>Startzeitpunkt: <%= @voting.start_time.strftime('%d.%m.%Y um %H:%M Uhr') rescue "???" %> | Endzeitpunkt: <%= @voting.end_time.strftime('%d.%m.%Y um %H:%M Uhr') rescue "???" %></p>
<% if @voting.election? %>
<span class="label label-primary">Wahl</span>
<% else %>
<span class="label label-default">Optionsabstimmung</span>
<% end %>
<% if current_user.admin? %>
<h3>Optionen</h3>
<ul>
  <% if @voting.election? %>
  <% @results.each do |result_set|
      user = User.find(result_set[0]) %>
  <li><%= link_to user.full_name, profile_path(user.profile) %> - <%= result_set[1] %> Stimme(n)</li>
  <% end %>
  <% else
  @voting.voting_options.each do |option| %>
  <li><%= link_to option.title, voting_voting_option_path(@voting, option), method: :delete, data: { confirm: "Möchtest du diese Option löschen?"} %> - <%= option.votes.where(locked: true).count %> Stimme(n)</li><% end %>
  <% end %>
</ul>
<%= unless @voting.election? then link_to  raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neue Option'), new_voting_voting_option_path(@voting.id), class: 'btn btn-success btn-sm' end %>
<%= if @voting.election? then link_to  "Aufräumen", cleanup_voting_path(@voting), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "Bist du sicher? Wenn du fortfährst, werden alle Optionen mit 0 Stimmen gelöscht." } end %>
<% end %>
<% if policy(@voting).results? %>
<div class="ct-chart" style="height: <%= "#{@voting.voting_options.count * 35}px" %>"></div>
<% end %>
<% if current_user.admin? %>
<h2>Stimmkarten</h2>
<p><%= @voting.votes.count %> Stimmkarte(n) sind mit dieser Abstimmung verknüpft. <%= link_to raw("Alle verknüpften Stimmkarten ansehen &raquo;"), voting_votes_path(@voting) %></p>
<%= link_to "Stimmkarten versenden", new_voting_vote_path(@voting.id) %>
<% else if @voting.active? %>
<p>Sobald die Abstimmung abgeschlossen ist, kannst du hier die Ergebnisse sehen. Wenn du an dieser Abstimmung teilnehmen möchtest, rufe deine Stimmkarte über das <%= link_to "Dashboard", root_url %> auf.</p>
<% end %>
<% end %>
<hr />
<h2>Auszeichnungen</h2>
<% if @awards then %>
<ul>
  <% @awards.each do |award| %>
  <li><%= link_to award.title, [@voting, award] %></li>
  <% end %>
</ul>
<% end %>
<% if current_user.admin? then %>
<%= if @voting.election? then link_to  raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neue Auszeichnung'), new_voting_award_path(@voting.id), class: 'btn btn-success btn-sm' end %>
<% end %>
<%= render partial: 'admin/editable', locals: {model_name: "Abstimmung", path: edit_voting_path(@voting), hide_ruler: false} %>
