<h2><%= @group.title %></h2>
<p>Lehrer: <%= link_to @group.teacher_name, @group.teacher %></p>
<p><%= @group.description %></p>
<h3>SchülerInnen</h3>
<table class="table table-striped table-bordered">
  <thead>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Aktion</th>
  </thead>
  <tbody>
    <%= render partial: 'students', collection: @group.users, as: :user %>
  </tbody>
</table>
<%= render partial: 'admin/editable', locals: {model_name: "Seminarfach", path: edit_group_path(@group)} %>
