<h1>Ahoi, <%= current_user.profile.first_name %>.</h1>
<% if current_user.admin? %>
<p>Du verf端gst 端ber administrative Zugriffsrechte. <%= link_to raw('Als anderer Nutzer anmelden &raquo;'), become_user_path %></p>
<% end %>
<p>Bitte nutze deinen Besuch, um Kommentare und Inhalte zu hinterlassen; das Abizeitungskomitee ist auf deine Mithilfe angewiesen.</p>
<%= render partial: 'notifications/no_group' %>
<%= render partial: 'notifications/quotes_to_approve' %>
<%= link_to raw("Einf端hrung erneut ansehen &raquo;"), intro_path %>
<% unless current_user.committees.empty? %>
<h3>Deine Komitees</h3>
<ul>
<%= render partial: 'notifications/my_committees', collection: current_user.committees, as: :committee %>
</ul>
<% end %>
<% unless current_user.votes.empty? %>
<h3>Deine Wahlkarten</h3>
<ul>
  <%= render partial: 'notifications/votes', collection: current_user.votes, as: :vote %>
</ul>
<% end %>
<hr />
<h3>Ank端ndigungen</h3>
<%= render partial: 'notifications/announcements' %>
