<tr>
  <td><%= order.id %></td>
  <td><%= order.name %></td>
  <td><%= number_to_currency(order.sum) %> <%= raw(order.processed ? '<span class="label label-success">bezahlt</span>' : '<span class="label label-danger">nicht bezahlt</span>') %></td>
  <td><%= link_to raw("Ansehen &raquo;"), order %></td>
</tr>
