<h2>Komitee bearbeiten</h2>
<%= simple_form_for(@committee, method: :patch, html: {class: 'form-horizontal' }) do |f| %>
<%= f.input :title, label: "Titel" %>
<%= f.input :description, label: "Beschreibung" %>
<%= f.button :submit, "Speichern" %>
<% end %>
<hr />
<%= link_to "Komitee löschen", committee_path(@committee), method: :delete, class: "btn btn-danger", data: { confirm: "Bist du sicher?" } %>
