<h2>Komitee bearbeiten</h2>
<%= bootstrap_form_for(@committee, method: :patch) do |f| %>
<%= f.text_field :title %>
<%= f.text_field :description %>
<%= f.submit %>
<% end %>
<hr />
<%= link_to "Komitee löschen", committee_path(@committee), method: :delete, class: "btn btn-danger", data: { confirm: "Bist du sicher?" } %>
