<h2>Komitee bearbeiten</h2>
<%= simple_form_for(@committee, method: :patch) do |f| %>
<%= f.input :title, label: "Titel" %>
<%= f.input :description, label: "Beschreibung" %>
<%= f.association :users, label_method: lambda { |item| "#{item.first_name} #{item.last_name}".html_safe rescue "#{item.email}" } %>
<%= f.button :submit, "Speichern" %>
<% end %>
<%= render partial: 'admin/deletable', locals: {model_name: "Komitee", path: @committee, hide_ruler: false} %>
