<h2>Lehrer bearbeiten</h2>
<%= simple_form_for(@teacher, method: :patch) do |f| %>
<%= f.input :first_name, label: "Vorname" %>
<%= f.input :last_name, label: "Nachname" %>
<%= f.input :email %>
<%= f.button :submit, "Speichern" %>
<% end %>
