<h3>Eine Lehrkraft eintragen</h3>
<%= simple_form_for :teacher, url: {action: 'create'} do |f| %>
  <%= f.input :email %>
  <%= f.input :first_name, label: "Vorname" %>
  <%= f.input :last_name, label: "Nachname" %>
  <%= f.button :submit, "Erstellen" %>
<% end %>
