<h2>Anmelden</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
  <%= f.input :email, autofocus: true, label: 'E-Mail' %>

  <%= f.input :password, autocomplete: "off", label: 'Passwort' %>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.input :remember_me, as: :boolean, label: "Angemeldet bleiben" %></div>
  <% end -%>

  <div><%= f.button :submit, "Anmelden" %></div>
  <hr />
  <%= link_to "Mit Facebook anmelden", user_omniauth_authorize_path(:facebook) %>
<% end %>
