<div class="alert alert-info"><b>Hinweis: </b>Bitte melde dich mit deiner @abimorrowland.de-Adresse an.</div>
<h2>Anmelden</h2>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :email, autofocus: true, label: 'E-Mail' %>

  <%= f.input :password, autocomplete: "off", label: 'Passwort' %>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.input :remember_me, as: :boolean, label: "Angemeldet bleiben" %></div>
  <% end %>
  <%= f.button :submit, "Anmelden" %>
  <hr />
  <%= link_to "Passwort vergessen?", new_user_password_path %> | <%= link_to "Mit Facebook anmelden", user_omniauth_authorize_path(:facebook) %><br />
<% end %>
