<h2>Einladung senden</h2>

<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {method: :post, class: 'form-horizontal'} do |f| %>
  <%= devise_error_messages! %>

<% resource.class.invite_key_fields.each do |field| -%>
  <%= f.input :email %>
<% end -%>

  <%= f.button :submit, "Senden" %>
<% end %>
<hr />
<table id="invited-users-table" class="table table-striped table-bordered" data-source="<%= invited_users_path(format: :json) %>">
  <thead>
    <tr>
      <th>E-Mail</th>
      <th>Aktion</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
