<h2><%= @voting.title %></h2>
<hr />
<h3><%= @option.title %></h3>
<p><%= @option.description %></p>
<hr />
<% if @selection.empty? %>
<p>Du kannst diese Option zur Wahl markieren.</p>
<%= link_to "Option auswählen", select_voting_option_path(@voting, @option), class: 'btn btn-sm btn-success' %>
<% else %>
<p>Du kannst diese Option abwählen.</p>
<%= link_to "Option abwählen", deselect_voting_option_path(@voting, @option), class: 'btn btn-sm btn-warning' %>
<% end %>
