<blockquote style="<% if comment.locked %>text-decoration: line-through; color: darkgrey<% end %>"><%= comment.text %>
<small>ID: <%= comment.id %></small>
</blockquote>
<% if comment.locked %>
<p>Gesperrt. Dieser Kommentar wird nicht gedruckt. <%= link_to "Entsperren", lock_comment_url(@token.token, comment), method: :patch %></p>
<% else %>
<%= link_to "Sperren", lock_comment_url(@token.token, comment), method: :patch %>
<%= link_to "Ändern", edit_profile_quote_path(@profile, comment) %>
<% end %>
<hr />