<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    0%
  </div>
</div>
<h1>Überprüfung von Inhalten <small>(allgemeiner Audit)</small></h1>
<p>Guten Tag, Frau/Herr <%= @profile.last_name %>,</p>
<p>vielen Dank, dass Sie vorbeigekommen sind. Auf den nachfolgenden Seiten möchten wir Ihnen die Gelegenheit geben, alle Inhalte in unserer Abizeitung, die Sie betreffen, einzusehen und zu überprüfen.</p>
<p>Sollten im Laufe des Vorgangs irgendwelche Probleme auftreten, helfen wir Ihnen gerne weiter. Schreiben Sie einfach eine kurze Nachricht an <%= mail_to "hallo@abimorrow.net" %>.</p>
<p>Bitte prüfen Sie zunächst, ob die folgenden Angaben zu Ihrer Person korrekt sind:</p>
<hr />
<dl>
  <dt>Voller Name:</dt>
  <dd><%= @profile.full_name %></dd>
  <dt>Status:</dt>
  <dd><%= @profile.profileable_type == "Teacher" ? "LehrerIn" : "SchülerIn" %></dd>
</dl>
<hr />
<p>Ist alles richtig? Haben wir Ihren Namen richtig geschrieben?</p>
<p><em>Hinweis: Bitte schließen Sie die Inhalteüberprüfung bis zum <%= @token.validUntil.strftime("%e.%-m. um %k.%M Uhr") %> ab.</em></p>
<% if @token.final %>
<%= link_to "Ja, das ist richtig.", validation_final_path(@token.token), class: 'btn btn-success' %>
<% else %>
<%= link_to "Ja, das ist richtig.", validate_comments_path(@token.token), class: 'btn btn-success' %>
<% end %>
<%= link_to "Nein, etwas stimmt nicht.", validation_wrong_identity_path(@token.token), class: 'btn btn-danger' %>
