<h1>Ein Inhalteproblem melden</h1>
<p>Bitte nennen Sie uns kurz die Gründe dafür, dass Sie denken, dass dieser Inhalt ungeeignet ist.</p>
<%= simple_form_for @report, url: create_content_problem_path, method: :post, :html => { :multipart => true } do |f| %>
  <p><b>Beanstandeter Inhalt:</b> <%= "#{@content.title} (Nr. #{@content.id})" %></p>
  <%= f.input :reason, label: "Grund", collection: @reason_list %>
  <%= f.input :description, label: "Details" %>
  <hr />
  <%= link_to raw("&laquo; Abbrechen"), validate_contents_path(@token.token), class: 'btn btn-warning' %> <%= f.button :submit, raw("Problem melden &raquo;"), class: 'btn-primary' %>
<% end %>