<h3>Teilnahmebogen für die Abstimmung "<%= @voting.title %>" <small>individuelle Stimmkartennr.: #<%= @vote.uid %></small></h3>
<p>Du hast <%= @vote.max_choices %> Stimme(n) innerhalb dieser Abstimmung. Deine Stimmabgabe ist einmalig.</p>
<hr />
<% if @vote.locked? %>
<p>Diese Stimme wurde gezählt. Folgende Option(en) wurde(n) gewählt:</p>
<ul>
  <% @vote.voting_options.each do |option| %>
  <li><%= option.title || option.user.full_name %></li>
  <% end %>
</ul>
<p>Die Stimmabgabe erfolgte am <%= @vote.updated_at.strftime('%d.%m.%Y um %H:%M Uhr Ortszeit') rescue "???" %>. Die Stimme wurde endgültig vom Konto der stimmberechtigten Person getrennt und wird bei der Auszählung berücksichtigt.</p>
<hr />
<b><span style="font-size: 2rem">Bitte notiere deine Stimmkartennumer: <%= @vote.uid %></span></b>
<p>Anhand deiner Stimmkartennummer kannst du die Auszählung nachvollziehen; außerdem können wir dir bei Problemen mit deiner Stimme nur weiterhelfen, wenn du uns deine Stimmkartennummer nennen kannst. Berücksichtige bitte unbedingt die Groß-/Kleinschreibung.</p>
<hr />
<%= link_to raw("&laquo; Zum Dashboard zurück"), root_url, class: 'btn btn-primary' %>
<% else %>
<b>Notiere dir bitte deine individuelle Stimmkartennummer "#<%= @vote.uid %>"; nur mit dieser Nummer kannst du das Stimmergebnis prüfen.</b>
<p>Deine Stimmabgabe ist einmalig. Du kannst deine Stimme nicht mehr ändern, da wir deine Stimmkarte anonymisieren, indem wir sie von deinem Nutzerkonto trennen.</p>
<hr />
<% if @voting.description %>
<p><b>Beschreibung:</b> <%= @voting.description %></p>
<% end %>
<% if @voting.election? %>
<p>Diese Abstimmung ist eine Wahl. Du kannst für Menschen stimmen.</p>
<%= link_to "Für KandidatInnen abstimmen", new_voting_voting_option_path(@voting) %>
<% unless @vote.voting_options.empty? %>
<p>Du hast folgende KandidatIn(n)(en) ausgewählt:</p>
<ul>
<% @vote.voted_options.each do |option| %>
  <li><%= link_to(option.voting_option.user.full_name, deselect_voting_option_path(@voting, option.voting_option), data: {confirm: "Möchtest du diese Option abwählen?"}) rescue "FEHLER" %></li>
<% end %>
</ul>
<% end %>
<% else %>
<p>Diese Abstimmung ist eine Optionsabstimmung. Du kannst für höchstens <%= @vote.max_choices %> Option(en) stimmen.</p>
<% unless @voting.voting_options.empty? %>
<p>Du kannst für diese Optionen abstimmen:</p>
<ul>
  <% @voting.voting_options.each do |option| %>
  <li><%= link_to option.title, voting_voting_option_path(@voting, option) %> <%= if @vote.voted_options.any? {|voted| voted.voting_option == option} then raw("<b>- ausgewählt</b>") end %></li>
  <% end %>
</ul>
<% end %>
<% if @voting.interactive? %>
  <%= link_to "Option hinzufügen", new_voting_voting_option_path(@voting) %>
<% end %>
<% end %>
<hr />
<% if @vote.voted_options.count < @vote.max_choices %>
<p>Du hast noch ungenutzte Stimmmöglichkeiten auf deiner Stimmkarte. Wenn du deine Stimmkarte jetzt abschließt, verlierst du die dir noch zustehenden Stimmen.</p>
<% else %>
<p>Du hast all deine Stimmmöglichkeiten verwendet. Bitte schließe deine Stimmkarte jetzt ab, damit sie bei der Auszählung berücksichtigt werden kann.</p>
<% end %>
<%= link_to "Stimmkarte abschließen", lock_vote_path(@voting, @vote), class: 'btn btn-sm btn-danger', data: {confirm: "Bist du sicher? Deine Stimmabgabe ist einmalig. Notiere deine Stimmkartennummer vor der Stimmabgabe, wenn du das Ergebnis überprüfen möchtest."} %>
<% end %>
