<!DOCTYPE html>
<html lang="de">
<head>
  <title>Abimorrownet</title>
  <script src='https://use.edgefonts.net/lancelot;rosario.js'></script>
  <meta charset='utf-8'>
  <meta content='width=device-width, initial-scale=1' name='viewport'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <button class='navbar-toggle' data-target='#main-navigation' data-toggle='collapse' type='button'>
          <span class='sr-only'>
            Navigation ein-/ausblenden
          </span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='#'>
          <%= image_tag "abimorrowland-small.png", class: "logo-small" %>
        </a>
      </div>
      <div class='collapse navbar-collapse' id='main-navigation'>
        <ul class='nav navbar-nav'>
          <%= render partial: 'layouts/navigation_element', locals: {text: "Dashboard", path: root_path} %>
          <%= render partial: 'layouts/navigation_element', locals: {text: "Jahrgang", path: profiles_path} %>
          <%= render partial: 'layouts/navigation_element', locals: {text: "Komitees", path: committees_path} %>
          <%= render partial: 'layouts/navigation_element', locals: {text: "Seminarfächer", path: groups_path} %>
          <%= render partial: 'layouts/navigation_element', locals: {text: "Lehrer", path: teachers_path} %>
          <li class="dropdown" data-no-turbolink>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Werkzeuge <span class="caret"></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#"><b>- Abizeitung -</b></a></li>
              <%= render partial: 'layouts/navigation_element', locals: {text: "Inhalte und Zitate einreichen", path: new_content_path} %>
              <% if current_user && current_user.moderator? %><%= render partial: 'layouts/navigation_element', locals: {text: "Back-Office", path: contents_path} %><% end %>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li class="dropdown" data-no-turbolink>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Angemeldet: <strong><% if current_user.profile %><%= current_user.profile.first_name %> <%= current_user.profile.last_name %><% else %><%= current_user.email %><% end %></strong> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <% if current_user.admin? %><li><%= link_to 'Einladen', new_user_invitation_path %></li><% end %>
              <% if current_user.profile %><li><%= link_to 'Mein Profil', profile_path(current_user.profile) %></li><% end %>
              <li><%= link_to 'Account bearbeiten', edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Abmelden", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
          <% else %>
            <li><%= link_to "Anmelden", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <p class="text-warning"><%= notice %></p>
    <p class="text-danger"><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>
